
extends layout


block content


  .container
    .row
     .col.s12
        nav(style="background-color: #082768")
         x.nav-wrapper
          span.flow-text 
           | &nbsp; 
    form(action='/upload' method="POST" enctype="multipart/form-data")
      .row
        .col.s12
          if msg ==1
            .success
              | Photo uploaded successfully
          else if msg == 2
            .error
              | File size too large
          else if msg == 3
            .error
              | Invalid file type. Only JPG, PNG or GIF file are allowed.      
      .row
        .col.s12 
          .file-field.input-field
            .btn.grey
              span File
              input(type='file' name="photo" required)
            .file-path-wrapper
              input.file-path.validate(type='text' )
      .row
       .input-field.col.s12
        input#caption.validate(type='text' name="caption")
        label(for='caption') Caption 
      
      .row
        .col.s12 
          button.btn.waves-effect.waves-light(type='submit', name='action')
            | Save  
            i.material-icons.right send
    form(enctype="multipart/form-data")        
      .row
        .col.s12 
          button.btn.waves-effect.waves-light(type='submit', name='action')
            | Find
            i.material-icons.right send         
      .row
        .col.s12 
         a(target='_blank' href='https://www.facebook.com/sharer/sharer.php?u=https://socialshare-js23.herokuapp.com/socialshare/5bd82e1c136eed001510a072') Share on Facebook

      //- https://www.facebook.com/dialog/share?&app_id=234837717340118&href=https%3A%2F%2Fwww.scrpt.com%2Freferral%2Fundefined%2F5b90b97dd0308e72381c55bd&quote=Scrpt%E2%80%99ve%20published%20an%20interactive%20experience%20(called%20a%20Capsule)%20titled%20%E2%80%9C%20A%20Looking%20Glass%20for%20Leaders%E2%80%9D.%20It%20was%20a%20great%20way%20to%20spend%20time%20by%20myself!.I%20hope%20you%20find%20it%20useful.this%20link%20gives%20us%20%24%204.9%20credit%20for%20future%20purchases.