doctype html
html
  head
   link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')

   link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css')
   link(rel='stylesheet', href='/stylesheets/style.css')
  
   meta(name='viewport', content='width=device-width, initial-scale=1.0')
   meta#fb-app-id(property='fb:app_id' content='443153576210730')
   meta#fb-site-name(property='og:site_name', content='')
   meta#fb-title(property='og:title', content= socialTitle)
   meta#fb-description(property='og:description', content=socialTitle)
   meta#fb-url(property='og:url', content=socialUrl)
   meta#fb-image(property='og:image', content=socialImage)
   meta#fb-type(property='og:type', content='website')

   title Nodejs file upload To facebok

  body
    block content
    script(src='https://code.jquery.com/jquery-3.3.1.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js')